In [2]:
import basedosdados as bd
import glob
import pandas as pd
#import matplotlib.pyplot as plt
import numpy as np
import os

In [ ]:
#Busca dados para o estado do RJ de 1995 em diante
df = bd.read_sql(
    '''
    SELECT ano, sigla_uf, id_municipio,
    quantidade_vinculos_ativos, quantidade_vinculos_clt, quantidade_vinculos_estatutarios,
    cnae_2, cnae_2_subclasse, cnae_1,
    FROM  basedosdados.br_me_rais.microdados_estabelecimentos
    WHERE ano > 1994 AND quantidade_vinculos_ativos > 0
    AND sigla_uf = 'RJ'
    ''',
    billing_project_id=''
)
arquivo = 'rais_RJ.parquet'
df.to_parquet(arquivo)

Downloading:  73%|███████▎  |
Downloading: 100%|██████████|

In [5]:
df = pd.read_parquet('rais_RJ.parquet')

In [6]:
df.tail()

,ano,sigla_uf,id_municipio,quantidade_vinculos_ativos,quantidade_vinculos_clt,quantidade_vinculos_estatutarios,cnae_2,cnae_2_subclasse,cnae_1
6462152,2023,RJ,3303401,11,11,0,81125,8112500,70408
6462153,2023,RJ,3304557,11,11,0,81125,8112500,70408
6462154,2023,RJ,3304557,11,11,0,69206,6920601,74128
6462155,2023,RJ,3304201,11,11,0,85996,8599604,80993
6462156,2023,RJ,3304557,11,11,0,86500,8650003,85154

In [7]:
cnaes_automotivas_1 = ['34']
cnaes_petroleo_gas_1 = ['11','23']

automotiva_1 = df[df['cnae_1'].str[0:2].isin(cnaes_automotivas_1)].groupby(by='ano').sum()
petroleo_gas_1 = df[df['cnae_1'].str[0:2].isin(cnaes_petroleo_gas_1)].groupby(by='ano').sum()

In [8]:
cnaes_automotivas_2_subclasse = ['2211100','2722801','2722802','2854200','2910701','2910702','2910703','2920401','2920402','2930101','2930102','2930103',
                                 '2941700','2942500','2943300','2944100','2945000','2949201','2949299','2950600','3050400']
#cnaes_automotivas_2 = ['22111','27228','27228','28542','29107','29107','29107','29204','29204','29301','29301','29301',
#                                 '2941700','2942500','2943300','2944100','2945000','2949201','2949299','2950600','3050400']
cnaes_petroleo_gas_2_subclasse = ['0600001','0899199','0910600','1910100','1921700','1922501', '1922502','1922599','2021500','2851800','3314714','3520401','3520402','4223500']
#cnaes_petroleo_gas_2 = ['06000','08991','09106','19101','19217','19225', '19225','19225','20215','28518','33147','35204','35204','42235']

automotiva_2 = df[df['cnae_2_subclasse'].isin(cnaes_automotivas_2_subclasse)].groupby(by='ano').sum()
petroleo_gas_2 = df[df['cnae_2_subclasse'].isin(cnaes_petroleo_gas_2_subclasse)].groupby(by='ano').sum()

In [9]:
automotiva_2['quantidade_vinculos_ativos']

ano
2006    10879
2007    13128
2008    16648
2009    15963
2010    20133
2011    21466
2012    19384
2013    20196
2014    19194
2015    15655
2016    13952
2017    17577
2018    18033
2019    17892
2020    16115
2021    16704
2022    18117
2023    17731
Name: quantidade_vinculos_ativos, dtype: Int64

In [10]:
automotiva = pd.concat([automotiva_1, automotiva_2], ignore_index=False)
petroleo_gas = pd.concat([petroleo_gas_1, petroleo_gas_2], ignore_index=False)

In [13]:
automotiva[['quantidade_vinculos_ativos']].to_excel('p&g.xlsx')

In [14]:
petroleo_gas[['quantidade_vinculos_ativos']].to_excel('automotiva.xlsx')